@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400");
/*______________Buttons______________*/
/*.buttons-contain{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1360px;
  margin: 0 auto 20px;
  padding: 40px 20px;
  &.dark-contain{
    background-image: linear-gradient(to bottom, #062a38, #062a38),
    linear-gradient(240deg, #12a5e2, #12a5e2);
    h4{
      color: var(--light-shades);
    }
  }
  h4{
    width: 100%;
    margin-bottom: 20px;
    color: var(--dark-shades);
  }
}*/
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--button-radius);
  line-height: 2.22;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid transparent;
}

/*___________Buttons Size____________*/
.button-small {
  padding: var(--button-small-padding);
  font-size: var(--button-small-font-size);
  min-width: var(--button-medium-width);
}

.button-medium {
  padding: var(--button-medium-padding);
  font-size: var(--button-medium-font-size);
  min-width: var(--button-medium-width);
}

.button-large {
  padding: var(--button-large-padding);
  font-size: var(--button-large-font-size);
  min-width: var(--button-large-width);
}

/*_____Buttons Light Background______*/
.primary {
  background: var(--main-brand);
  color: var(--light-shades);
}

.primary:hover {
  background: var(--light-accent);
}

.primary:active {
  background: var(--main-brand);
  color: var(--light-shades);
}

.primary.alt {
  background: var(--light-accent);
}

.primary.alt:hover {
  background: var(--main-brand);
}

.primary.alt:active {
  background: var(--light-accent);
}

.secondary {
  background: var(--light-shades);
  color: var(--dark-shades);
  border: 1px solid var(--main-brand);
}

.secondary:hover {
  border: 1px solid var(--dark-accent);
}

.secondary:active {
  background: var(--light-accent);
  color: var(--light-shades);
  border: 1px solid var(--light-shades);
}

.secondary.alt {
  background: var(--main-brand);
  color: var(--light-shades);
  border: 1px solid var(--light-shades);
}

.secondary.alt:hover {
  background: var(--dark-accent);
}

.secondary.alt:active {
  background: var(--main-brand);
  color: var(--dark-shades);
  border: 1px solid var(--main-brand);
}

/*_____Buttons Dark Background______*/
.primary-dark {
  background: var(--main-brand);
  color: var(--light-shades);
}

.primary-dark:hover {
  background: var(--light-shades);
  color: var(--dark-shades);
}

.primary-dark:active {
  background: var(--main-brand);
  color: var(--light-shades);
}

.primary-dark.alt {
  background: var(--light-shades);
  color: var(--dark-shades);
}

.primary-dark.alt:hover {
  background: var(--main-brand);
  color: var(--light-shades);
}

.primary-dark.alt:active {
  background: var(--light-shades);
  color: var(--dark-shades);
}

.secondary-dark {
  color: var(--light-shades);
  border: 1px solid var(--light-shades);
}

.secondary-dark:hover {
  border: 1px solid var(--main-brand);
}

.secondary-dark:active {
  background: var(--light-shades);
  color: var(--dark-shades);
  border: 1px solid var(--light-shades);
}

.secondary-dark.alt {
  border: 1px solid var(--main-brand);
}

.secondary-dark.alt:hover {
  border: 1px solid var(--light-shades);
}

.secondary-dark.alt:active {
  border: 1px solid var(--main-brand);
  background: var(--main-brand);
  color: var(--light-shades);
}

/*____________MainStyles_____________*/
body {
  margin: 0;
  min-height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: var(--font-family-main);
  font-style: var(--font-style-main);
  font-stretch: var(--font-stretch-main);
  letter-spacing: var(--letter-spacing-main);
}

body * {
  margin: 0;
  position: relative;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

#hamburger {
  display: block;
  cursor: pointer;
  z-index: 3;
}

#hamburger .hamburger__line {
  width: 40px;
  height: 4px;
  background-color: var(--main-brand);
  display: block;
  margin: 7px auto;
  transition: all 0.3s ease-in-out;
}

#hamburger.active {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.6s;
  transform: rotate(45deg);
}

#hamburger.active .hamburger__line:nth-child(2) {
  width: 0px;
}

#hamburger.active .hamburger__line:nth-child(1),
#hamburger.active .hamburger__line:nth-child(3) {
  transition-delay: 0.3s;
}

#hamburger.active .hamburger__line:nth-child(1) {
  transform: translateY(11px);
}

#hamburger.active .hamburger__line:nth-child(3) {
  transform: translateY(-11px) rotate(90deg);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background: var(--light-shades);
  border-radius: 50%;
  cursor: pointer;
}

.header {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1360px;
  height: 160px;
  padding: 0 20px;
  margin: 0 auto;
}

.header .header__switch {
  margin: 0 40px 0 auto;
  padding: 12px 15px;
  font-size: 9px;
  text-transform: uppercase;
}

.header .header__menu {
  position: absolute;
  top: 0;
  right: -400px;
  height: auto;
  width: 220px;
  border: none;
  background: var(--dark-accent);
  z-index: 2;
  padding: 120px 30px 40px;
  transition: 0.6s;
}

.header .header__menu.active {
  right: 0;
  transition: 0.6s;
}

.header .header__menu a {
  display: block;
  cursor: pointer;
  text-align: right;
}

.welcome {
  margin-top: -160px;
  background: var(--dark-accent);
}

.welcome .welcome__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 240px 20px 160px;
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
}

.welcome .welcome__content .welcome__heading {
  width: 100%;
  max-width: 800px;
  margin-bottom: 40px;
}

.welcome .welcome__content .welcome__description {
  width: 100%;
  max-width: 800px;
  margin-bottom: 40px;
}

.about {
  width: 100%;
  max-width: 1360px;
  padding: 120px 20px 0;
  margin: 0 auto;
}

.about .about__works {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.about .about__works .works__heading {
  width: 100%;
}

.about .about__works .work {
  width: 100%;
  max-width: calc((100% - 90px) / 4);
}

.about .about__works .work .work__img {
  height: 420px;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 6px;
  background: var(--main-brand);
}

.about .about__works .work .work__heading {
  margin-bottom: 10px;
}

.about .about__us {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 120px 0;
}

.about .about__us .aboutUs__slogan {
  width: 100%;
  max-width: calc(100% - 600px);
  min-width: 500px;
  color: var(--dark-shades);
}

.about .about__us .aboutUs__content {
  width: 100%;
  max-width: 560px;
}

.about .about__us .aboutUs__content .aboutUs__description {
  margin-bottom: 30px;
}

.pricing {
  padding: 50px 0;
  background: var(--dark-accent);
}

.pricing .pricing__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1360px;
  padding: 0 20px;
  margin: 0 auto;
}

.pricing .pricing__content .pricing__heading {
  width: 100%;
  margin-bottom: 40px;
}

.pricing .pricing__content .package {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: calc((100% - 90px) / 4);
  margin-bottom: 40px;
  padding: 30px;
  border: 1px solid var(--light-shades);
  background: transparent;
  transition: 0.3s;
}

.pricing .pricing__content .package:hover {
  background: var(--dark-shades);
  border: 1px solid var(--light-shades);
}

.pricing .pricing__content .package .package__heading {
  margin-bottom: 20px;
}

.pricing .pricing__content .package .package__price {
  margin-bottom: 30px;
}

.pricing .pricing__content .package .package__description {
  text-align: center;
  margin-bottom: 80px;
}

.advantages {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1360px;
  padding: 120px 20px;
  margin: 0 auto;
}

.advantages .advantages__header {
  width: 100%;
  max-width: 375px;
}

.advantages .advantages__header .advantages__heading {
  margin-bottom: 45px;
}

.advantages .advantages__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: calc(100% - 420px);
}

.advantages .advantages__wrapper .advantage {
  width: 100%;
  max-width: calc((100% - 60px)/3);
  margin-bottom: 65px;
}

.advantages .advantages__wrapper .advantage .advantage__img {
  margin-bottom: 30px;
}

.advantages .advantages__wrapper .advantage .advantage__img rect {
  fill: var(--main-brand);
}

.advantages .advantages__wrapper .advantage .advantage__img path {
  fill: var(--light-shades);
}

.advantages .advantages__wrapper .advantage .advantage__title {
  margin-bottom: 20px;
}

.reviews {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
}

.reviews .reviews__heading {
  width: 100%;
  margin-bottom: 40px;
}

.reviews .review {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 60px 35px;
  max-width: calc((100% - 90px) / 4);
  background: var(--main-brand);
}

.reviews .review .review__icon {
  margin-bottom: 15px;
}

.reviews .review .review__icon rect {
  fill: var(--light-shades);
}

.reviews .review .review__icon path {
  fill: var(--main-brand);
}

.reviews .review .review__author {
  margin-bottom: 10px;
}

.reviews .review .review__position {
  margin-bottom: 20px;
}

.reviews .review .review__description {
  text-align: center;
}

.feedback {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 120px 20px;
}

.feedback .feedback__heading {
  width: 100%;
}

.feedback .feedback__heading span {
  display: block;
  max-width: 700px;
  margin-bottom: 70px;
}

.feedback .feedback__contact {
  width: 100%;
  max-width: 360px;
}

.feedback .feedback__contact .contact__element {
  width: 100%;
  margin-bottom: 25px;
}

.feedback .feedback__contact .contact__element .contact__heading {
  margin-bottom: 20px;
}

.feedback .feedback__contact .contact__element .contact__link svg path {
  fill: var(--dark-shades);
}

.feedback .feedback__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: calc(100% - 400px);
}

.feedback .feedback__form input, .feedback .feedback__form textarea {
  width: 100%;
  height: 60px;
  padding: 15px;
  margin-bottom: 15px;
}

.feedback .feedback__form textarea {
  height: 130px;
}

.seo {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto 120px;
  padding: 0 20px;
}

.seo .seo__heading {
  margin-bottom: 40px;
}

.footer {
  background: var(--dark-accent);
  padding: 100px 0 100px;
}

.footer .footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer .footer__content.footer__main {
  margin-bottom: 50px;
}

.footer .footer__content .footer__logo {
  margin-top: -40px;
}

.footer .footer__content .footer__slogan {
  width: 100%;
  max-width: 550px;
}

.footer .footer__content .footer__social svg path {
  fill: var(--light-shades);
}

@media screen and (max-width: 1168px) {
  .about .about__us .aboutUs__slogan {
    max-width: unset;
    margin-bottom: 60px;
  }
  .about .about__us .aboutUs__content {
    max-width: unset;
  }
  .about .about__works .work {
    max-width: calc((100% - 40px) / 4);
  }
  .pricing .pricing__content .package {
    max-width: calc((100% - 40px) / 4);
    padding: 30px 10px;
  }
  .pricing .pricing__content .package .package__description {
    margin-bottom: 40px;
  }
  .reviews .review {
    padding: 40px 15px;
    max-width: calc((100% - 40px) / 4);
  }
}

@media screen and (max-width: 900px) {
  .welcome .welcome__content {
    padding: 160px 20px 80px;
  }
  .about {
    padding: 60px 20px 0;
  }
  .about .about__us {
    padding: 60px 0;
  }
  .about .about__works .work .work__img {
    height: 250px;
  }
  .advantages {
    flex-wrap: wrap;
    padding: 60px 20px;
  }
  .advantages .advantages__header {
    max-width: 100%;
    margin-bottom: 40px;
  }
  .advantages .advantages__header .advantages__heading {
    margin-bottom: 20px;
  }
  .advantages .advantages__wrapper {
    max-width: 100%;
  }
  .advantages .advantages__wrapper .advantage {
    margin-bottom: 35px;
  }
  .feedback {
    padding: 60px 20px;
  }
  .feedback .feedback__heading span {
    margin-bottom: 40px;
  }
  .seo {
    margin-bottom: 60px;
  }
  .footer {
    padding: 40px 0;
  }
  .footer .footer__content .footer__logo {
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    width: 60px;
    height: 60px;
  }
  .header {
    height: 80px;
  }
  .welcome {
    margin-top: -80px;
  }
  .welcome .welcome__content {
    padding: 120px 20px 60px;
  }
  .about .about__works .work {
    max-width: calc((100% - 20px) / 2);
    margin-bottom: 30px;
  }
  .about .about__us {
    padding: 30px 0;
  }
  .about .about__us .aboutUs__slogan {
    margin-bottom: 30px;
  }
  .pricing .pricing__content .package {
    max-width: calc((100% - 20px) / 2);
    margin-bottom: 30px;
  }
  .advantages .advantages__wrapper .advantage {
    max-width: calc((100% - 40px)/3);
  }
  .reviews .review {
    max-width: calc((100% - 20px) / 2);
    margin-bottom: 30px;
  }
  .feedback .feedback__contact {
    width: 100%;
    max-width: 240px;
  }
  .feedback .feedback__form {
    max-width: calc(100% - 300px);
  }
  .footer .footer__content .footer__slogan {
    max-width: 350px;
  }
}

@media screen and (max-width: 600px) {
  .about .about__works .work .work__img {
    height: 180px;
  }
  .about .about__us .aboutUs__slogan {
    min-width: unset;
  }
  .advantages {
    padding: 40px 20px;
  }
  .advantages .advantages__wrapper .advantage {
    max-width: calc((100% - 20px)/2);
  }
  .pricing .pricing__content .package {
    padding: 20px 10px;
  }
  .pricing .pricing__content .package .package__heading {
    margin-bottom: 10px;
  }
  .pricing .pricing__content .package .package__price {
    margin-bottom: 15px;
  }
  .pricing .pricing__content .package .package__price {
    margin-bottom: 20px;
  }
  .feedback .feedback__contact {
    max-width: 300px;
    margin: 0 auto 30px;
  }
  .feedback .feedback__form {
    max-width: 300px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 468px) {
  .pricing .pricing__content .package, .reviews .review {
    max-width: 320px;
    margin: 0 auto 20px;
  }
  .footer {
    padding: 20px 0;
  }
  .footer .footer__content .footer__slogan {
    display: none;
  }
}
