@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400');
:root {
  /*____________MainColors____________*/
  --light-shades: #ffffff;
  --light-accent: #17678b;
  --main-brand: #11a8e7;
  --dark-accent: #062a38;
  --dark-shades: #222222;
  /*____________Typography____________*/
  --font-family-main: 'Roboto Slab', serif;
  --font-style-main: normal;
  --font-stretch-main: normal;
  --letter-spacing-main: normal;
  --font-weight-main: normal;
  /*___________Buttons Size____________*/
  --button-small: 10px 22px;
  --button-medium: 10px 22px;
  --button-large: 15px 27px;
}
.hero-title {
  font-size: 60px;
  font-weight: 300;
  line-height: 1.2;
  color: var(--dark-shades);
}
.block-title{
  font-size: 30px;
  line-height: 1.33;
  color: var(--dark-shades);
}
.subtitle{
  font-size: 17px;
  font-weight: 300;
  line-height: 1.53;
  //color: #939393;
  color: var(--dark-shades);//as close as possible
}
.heading-large{
  font-size: 70px;
  font-weight: 100;
  line-height: 1.14;
  color: var(--main-brand);
}
.heading{
  font-size: 24px;
  line-height: 1.42;
  color: var(--dark-shades);
}
.subheading{
  font-size: 18px;
  font-weight: 300;
  line-height: 1.44;
  color: var(--dark-shades);
}
.body-text{
  font-size: 15px;
  font-weight: 300;
  line-height: 1.47;
  //color: #4d4d4d;
  color: var(--dark-shades); //as close as possible
}
.caption{
  font-size: 12px;
  line-height: 1.67;
  //color: #939393;
  color: var(--dark-shades); //as close as possible
}
.link{
  font-size: 12px;
  line-height: 1.83;
  color: var(--main-brand);
}
.quote{
  font-size: 24px;
  font-weight: 300;
  line-height: 1.42;
  color: var(--main-brand);
}
/*______________Buttons______________*/
/*.buttons-contain{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto 20px;
  padding: 40px 20px;
  &.dark-contain{
    background-image: linear-gradient(to bottom, #062a38, #062a38),
    linear-gradient(240deg, #12a5e2, #12a5e2);
    h4{
      color: var(--light-shades);
    }
  }
  h4{
    width: 100%;
    margin-bottom: 20px;
    color: var(--dark-shades);
  }
}*/
.button{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 9px;
  line-height: 2.22;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  //transition: 0.3s;
  border: 1px solid transparent;
}
/*___________Buttons Size____________*/
.button-small{
  padding: var(--button-small);
}
.button-medium{
  padding: var(--button-medium);
}
.button-large{
  padding: var(--button-large);
}
/*_____Buttons Light Background______*/
.primary{
  background: var(--main-brand);
  color: var(--light-shades);
  &:hover{
    background: var(--light-accent);
  }
  &:active{
    background: var(--main-brand);
    color: var(--light-shades);
  }
  &.alt{
    background: var(--light-accent);
    &:hover{
      background: var(--main-brand);
    }
    &:active{
      background: var(--light-accent);
    }
  }
}
//I chose colors for secondary in my opinion.
.secondary{
  background: var(--light-shades);
  color: var(--dark-shades);
  border: 1px solid var(--main-brand);
  &:hover{
    border: 1px solid var(--dark-accent);
  }
  &:active{
    background: var(--light-accent);
    color: var(--light-shades);
    border: 1px solid var(--light-shades);
  }
  &.alt{
    background: var(--main-brand);
    color: var(--light-shades);
    border: 1px solid var(--light-shades);
    &:hover{
      background: var(--dark-accent);
    }
    &:active{
      background: var(--main-brand);
      color: var(--dark-shades);
      border: 1px solid var(--main-brand);
    }
  }
}
/*_____Buttons Dark Background______*/
.primary-dark{
  background: var(--main-brand);
  color: var(--light-shades);
  &:hover{
    background: var(--light-shades);
    color: var(--dark-shades);
  }
  &:active{
    background: var(--main-brand);
    color: var(--light-shades);
  }
  &.alt{
    background: var(--light-shades);
    color: var(--dark-shades);
    &:hover{
      background: var(--main-brand);
      color: var(--light-shades);
    }
    &:active{
      background: var(--light-shades);
      color: var(--dark-shades);
    }
  }
}
.secondary-dark{
  color: var(--light-shades);
  border: 1px solid var(--light-shades);
  &:hover{
    border: 1px solid var(--main-brand);
  }
  &:active{
    background: var(--light-shades);
    color: var(--dark-shades);
    border: 1px solid var(--light-shades);
  }
  &.alt{
    border: 1px solid var(--main-brand);
    &:hover{
      border: 1px solid var(--light-shades);
    }
    &:active{
      border: 1px solid var(--main-brand);
      background: var(--main-brand);
      color: var(--light-shades);
    }
  }
}


/*____________MainStyles_____________*/
body{
  margin: 0;
  min-height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: var(--font-family-main);
  font-style: var(--font-style-main);
  font-stretch: var(--font-stretch-main);
  letter-spacing: var(--letter-spacing-main);
  font-weight: var(--font-weight-main);
  *{
    margin: 0;
    position: relative;
    box-sizing: border-box;
  }
}
.section>.section__content{
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
.hamburger{
  display: block;
  .hamburger__line{
    width: 40px;
    height: 4px;
    background-color: var(--main-brand);
    display: block;
    margin: 7px auto;
    transition: all 0.3s ease-in-out;
  }
  &.is-active{
    transition: all 0.3s ease-in-out;
    transition-delay: 0.6s;
    transform: rotate(45deg);
  }
  &.is-active .line:nth-child(2){
    width: 0px;
  }
  &.is-active .line:nth-child(1),
  &.is-active .line:nth-child(3){
    transition-delay: 0.3s;
  }
  &.is-active .line:nth-child(1){
    transform: translateY(11px);
  }
  &.is-active .line:nth-child(3){
    transform: translateY(-11px) rotate(90deg);
  }
}



.header{
  z-index: 2;
  .header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 160px;
    .header__switch{
      margin: 0 40px 0 auto;
      padding: 12px 15px;
      border-radius: 25px;
      text-transform: uppercase;
      background: var(--dark-accent);
    }
    .header__menu{
      display: none;
    }
  }
}
.welcome{
  margin-top: -160px;
  background: var(--dark-accent);
  .welcome__content{
    display: flex;
    flex-direction: column;
    padding: 160px 0;
    .welcome__heading{
      width: 100%;
      max-width: 800px;
      margin-bottom: 40px;
    }
    .welcome__description{
      width: 100%;
      max-width: 800px;
      margin-bottom: 40px;
    }
  }
}
.about{
  .about__content{
    padding: 120px 0;
    .about__works{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      .works__heading{
        width: 100%;
      }
      .work{
        width: 100%;
        max-width: calc((100% - 90px) / 4);
        .work__img{
          height: 420px;
          width: 100%;
          margin-bottom: 30px;
          border-radius: 6px;
          background: var(--main-brand);
        }
        .work__heading{
          margin-bottom: 10px;
        }
      }
    }
    .about__us{
      display: flex;
      margin-top: 120px;
      .aboutUs__slogan{
        width: calc(100% - 640px);
      }
      .aboutUs__content{
        width: 100%;
        max-width: 560px;
      }
    }
  }
}
.pricing{
  padding: 50px 0;
  background: var(--dark-accent);
  .pricing__content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .pricing__heading{
      width: 100%;
      margin-bottom: 40px;
    }
    .package{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
      max-width: calc((100% - 90px) / 4);
      margin-bottom: 40px;
      padding: 30px 65px;
      border: 1px solid var(--light-shades);
      background: transparent;
      transition: 0.3s;
      &:hover{
        background: var(--light-accent);
        border: 1px solid var(--light-shades);
      }
      .package__heading{
        margin-bottom: 20px;
      }
      .package__price{
        margin-bottom: 30px;
      }
      .package__description{
        margin-bottom: 80px;
      }
    }
  }
}
.advantages{
  .advantages__content{
    display: flex;
    justify-content: space-between;
    padding: 120px;
    .advantages__header{
      width: 100%;
      max-width: 370px;
    }
    .advantages__wrapper{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      max-width: calc(100% - 420px);
      .advantage{
        width: 100%;
        width: calc((100% - 60px)/3);
        margin-bottom: 65px;
        .advantage__img{
          background: var(----main-brand);
          margin-bottom: 30px;
        }
        .advantage__title{
          margin-top: 20px;
        }
      }
    }
  }
}
.reviews{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  .reviews__heading{
    width: 100%;
    margin-bottom: 40px;
  }
  .review{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 60px 35px;
    max-width: calc((100% - 90px) / 4);
    background: var(--main-brand);
    .review__icon{
      margin-bottom: 15px;
    }
    .review__author{
      margin-bottom: 10px;
    }
    .review__position{
      margin-bottom: 20px;
    }
    .review__description{
      text-align: center;
    }
  }
}
.feedback{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 120px 0;
  .feedback__heading{
    width: 100%;
    span{
      max-width: 700px;
    }
  }
  .feedback__contact{
    width: 100%;
    max-width: 360px;
    .contact__element{
      width: 100%;
      margin-bottom: 25px;
      .contact__heading{
        margin-bottom: 20px;
      }
    }
  }
  .feedback__form{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 655px;
    input, textarea{
      width: 100%;
      height: 60px;
      padding: 15px;
      margin-bottom: 15px;
    }
    textarea{
      height: 130px;
    }
  }
}
.seo{
  width: 100%;
  max-width: 1400px;
  margin: 0 auto 120px;
  .seo__heading{
    margin-bottom: 40px;
  }
}
.footer{
  background: var(--dark-accent);
  padding: 100px 0 100px;
  .footer__content{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }
}